/* TODO -- style footer */

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: DarkSalmon;
  color: white;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 2px;
  margin-top: 100%;
}
