/* TODO -- style footer */
/*
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
*/

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: DarkSalmon;
  color: white;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 2px;
  margin-top: 23.4%;
  z-index: -1;
}

as {
  font-size: 4;
}
